body {
    margin-top: 1.0em;
    font-family: "helvetica";
    font-size: medium;
    color: #000000;
    background-color: white;
}

#header {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 70px;
    background-color: #ebe6e5;
}

#header img {
    margin: 10px;
}

#container {
    position: relative; top: 80px;
    margin: 0 auto;
    width: 700px;
}

h1 { font-size: 2.0em; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; }
h3 { font-style: italic; }

a, a:visited {
    text-decoration:none;
    color: #008;
}

a:hover { text-decoration:underline; }

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.download { float: right; }

pre { background: #000; color: #fff; padding: 15px;}

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}

.footer { text-align:center; padding-top:30px; font-style: italic; }
